<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Infirmary"
        tools:targetApi="31">
        <activity
            android:name="com.example.signup.Signup_Confirmation"
            android:exported="false" />
        <activity
            android:name="com.example.signup.BgHistory"
            android:exported="false" />
        <activity
            android:name="com.example.signup.BasicInfo"
            android:exported="false" />
        <activity
            android:name="com.example.signup.LoginInfo"
            android:exported="false" />
        <activity
            android:name="com.example.signup.Agreement"
            android:exported="false" />
        <activity
            android:name=".Message_Content"
            android:exported="false" />
        <activity
            android:name=".features.firstaid.FirstAidStep1"
            android:exported="false" />
        <activity
            android:name=".features.update.UpdateStep3"
            android:exported="false" />
        <activity
            android:name=".features.update.UpdateStep2"
            android:exported="false" />
        <activity
            android:name=".features.update.UpdateStep1"
            android:exported="false" />
        <activity
            android:name=".sections.MainSec"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>